<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="text-center">Test Automation - Supply Chain Connect</h2>
        </div>
        <div class="panel-body">
            <h4 class="text-center">Select Test</h4>
            <div class="text-center">
                <input onclick="showData()" class="testRunner" type="checkbox" name="tests" value="1">
                Initial Purchase Order <br>
                <div class="testDropdown" id="testDataInit"></div>
                <br>
                <input onclick="showDataCore()" class="testRunner" type="checkbox" name="tests" value="3">
                First Core Revision <br>
                <div class="testDropdownCore" id="testDataCore"></div>
                <br>
                <input onclick="showDataCoreTwo()" class="testRunner" type="checkbox" name="tests" value="5">
                Second Core Revision <br>
                <div class="testDropdownCore2" id="testDataCore2"></div>
                <br>
                <button onclick="runScript()" class="button" type="submit">Submit</button>
                <br><br>
                <div class="dropdown">
                    <button onclick="myFunction()" class="button">Select A Data Set</button>
                    <div class="dropdownContent" id="dropSelect">
                        <form id="jsonSelect">
                            <input type="radio" name="json" value=1> <a href="../../initialPO.json"> JSON 1</a><br>
                            <input type="radio" name="json" value=2> <a href="../../initialPO.json"> JSON 2</a><br>
                            <input type="radio" name="json" value=3> <a href="../../initialPO.json"> JSON 3</a>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div style="text-align: center;">
                <button class="button" type="button"><a href="./logout?state=secure">Logout</a></button>
            </div>
            <br><br>
        </div>
    </div>
</div>