<!--<h2>Signup Form</h2>-->

<!--<form action="/action_page.php" style="border:1px solid #ccc">-->
  <div class="container">
    <label><b>Name</b></label>
    <input id="name" type="text" placeholder="Enter Name" name="name" required>
    
    <label><b>Email</b></label>
    <input id="email" type="text" placeholder="Enter Email" name="email" required>

    <label><b>Password</b></label>
    <input id="password" type="password" placeholder="Enter Password" name="psw" required>

    <label><b>Repeat Password</b></label>
    <input id="repeat_password" type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <input type="checkbox" checked="checked"> Remember me

    <div class="clearfix">
      <!--<button type="button" class="cancelbtn">Cancel</button>-->
      <button type="submit" class="signupbtn" onclick="signUp()">Sign Up</button>
    </div>
  </div>
<!--</form>-->

